<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

    <display-name>openid-server</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.bc.openid.ContextInitialiser</listener-class>
    </listener>

    <servlet>
        <servlet-name>openid-server</servlet-name>
        <servlet-class>com.bc.openid.AuthenticationService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>openid-server</servlet-name>
        <url-pattern>/provider/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openid-server</servlet-name>
        <url-pattern>/provider/server/o2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>openid-server2</servlet-name>
        <servlet-class>com.bc.openid.DiscoveryService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>openid-server2</servlet-name>
        <url-pattern>/provider/discovery/*</url-pattern>
    </servlet-mapping>

</web-app>