Flask
Flask-OpenID
SQLAlchemy
flask-sqlalchemy
netCDF4
lxml
PyYAML
flask_script
BeautifulSoup
pygeoif
jpy
beampy
pyproj
gdal #  recommended way: build from sources with configure option '--with-python'